footer{
    background-color: aqua;
    text-align: center;
    font-weight: bold;
}

h1{
    text-align: center;
    background-color: rgb(211, 107, 107);
    box-shadow:200px 300px grey;
}

h2{
    text-align: center;
}

ol{
    padding: 20px;
    color: brown;
    font-weight: bolder;
    text-align: center;
}

ul{
    align-items: center;
    align-self: center;
    align-content: center;
}

a{
    text-align: center;
    align-items: center;
    align-self: center;
    align-content: center;
}

.border{
    border: 20px dashed rgb(159, 59, 59);
    margin: 20px;
}
